@import "./variables";

@font-face {
  font-family: Kinosniki;
  src: url("../fonts/Kinosniki-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  position: relative;
  height: 100%;
  color: $base;
  background-color: $accent;
  overflow: hidden;

  &__canvas-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 2;
  }

  &__superscription {
    position: absolute;
    top: 290px;
    left: 80px;
    font-family: Kinosniki;
    font-size: 350px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    user-select: none;
    z-index: 0;

    @supports (-webkit-text-stroke: 1px black) {
      -webkit-text-stroke: 1px rgba(253, 250, 225, 0.15);
      -webkit-text-fill-color: $accent;
    }

    @media (max-width: 768px) {
      top: 8%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      font-size: 220px;
    }
  }

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;

    .card {
      position: absolute;
      display: flex;
      z-index: 4;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
    }

    .card-content {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;

      h4 {
        text-align: center;
        font-family: Kinosniki;
        font-style: normal;
        font-weight: normal;
        transform: translateZ(50px);
        user-select: none;
      }
    }

    .square-card {
      left: 85%;
      bottom: -100px;
      max-height: 320px;
      max-width: 320px;
      background-color: #fbc9bb;
      border-radius: 10px;

      h4 {
        padding-top: 70px;
        font-size: 46px;
        line-height: 80%;
        color: #004032;

        @media (max-width: 768px) {
          display: none;
        }
      }

      @media (max-width: 1024px) {
        left: 70%;
      }

      @media (max-width: 768px) {
        max-width: 240px;
        max-height: 240px;
        left: 20px;
        bottom: -150px;
      }
    }

    .circle-square-card {
      left: 75%;
      bottom: 330px;
      max-height: 300px;
      max-width: 300px;
      background-color: #273879;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: 5;

      h4 {
        padding-top: 100px;
        font-size: 64px;
        line-height: 110%;
        color: #ffffff;
      }

      @media (max-width: 1024px) {
        left: 65%;
      }

      &--small {
        position: absolute;
        left: 15%;
        bottom: -50px;
        width: 110px;
        height: 110px;
        background-color: #e5077c;

        @media (max-width: 1024px) {
          left: 5%;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .pacman-card {
      background-image: url("../images/wine-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      top: 115px;
      left: 93%;
      max-height: 150px;
      max-width: 150px;

      h4 {
        padding-top: 40px;
        font-size: 36px;
        line-height: 110%;
        color: #004032;

        @media (max-width: 768px) {
          font-size: 28px;
        }
      }

      @media (max-width: 1024px) {
        left: 85%;
      }

      @media (max-width: 768px) {
        max-height: 100px;
        max-width: 100px;
        top: inherit;
        bottom: 50px;
        left: 40px;
      }
    }

    .mood-card {
      left: 65%;
      bottom: 260px;
      max-height: 250px;
      max-width: 250px;
      background-color: #e31d33;
      border-radius: 50%;

      h4 {
        padding-top: 100px;
        font-size: 38px;
        line-height: 110%;
        color: #004032;
      }

      @media (max-width: 1024px) {
        left: 55%;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .emotion-card {
      background-image: url("../images/emotion-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 80px;
      left: 50%;
      max-height: 200px;
      max-width: 230px;

      h4 {
        padding-top: 40px;
        font-size: 38px;
        line-height: 110%;
        color: #e6097f;

        @media (max-width: 768px) {
          padding-top: 15px;
          font-size: 24px;
        }
      }

      @media (max-width: 1024px) {
        max-height: 130px;
        max-width: 150px;
        left: 40%;
      }

      @media (max-width: 768px) {
        left: inherit;
        right: 10px;
        bottom: 0;
      }
    }

    .children-card {
      background-image: url("../images/square.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 300px;
      width: 300px;
      bottom: -80px;
      left: 30%;
      max-height: 300px;
      max-width: 300px;

      h4 {
        padding-top: 115px;
        font-size: 48px;
        line-height: 110%;
        color: #e21c32;

        @media (max-width: 768px) {
          padding-top: 90px;
        }
      }

      @media (max-width: 1024px) {
        left: 20%;
      }

      @media (max-width: 768px) {
        height: 250px;
        width: 250px;
        left: inherit;
        right: 25%;
        bottom: 25px;
      }

      @media (max-width: 480px) {
        display: none;
      }
    }

    .semicircle {
      position: absolute;
      left: 47%;
      bottom: -50px;
      width: 190px;
      height: 190px;
      background-color: #ef4b3b;
      border-radius: 10px;
      border-top-right-radius: 100%;
      z-index: 3;

      @media (max-width: 1024px) {
        left: 35%;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .cross {
      position: absolute;
      left: 58%;
      bottom: 100px;
      background-image: url("../images/cross.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 125px;
      height: 125px;
      z-index: 6;

      @media (max-width: 1024px) {
        left: 50%;
      }

      @media (max-width: 768px) {
        height: 80px;
        width: 80px;
        left: inherit;
        right: 0;
        bottom: 5px;
      }
    }

    .oval {
      position: absolute;
      left: 65%;
      bottom: 150px;
      height: 340px;
      width: 250px;
      background-image: url("../images/oval.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    pointer-events: none;
    user-select: none;

    @media (max-width: 768px) {
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h3 {
        text-align: center;
      }
    }

    & > div {
      position: relative;
      z-index: 10;
    }
  }

  &__logo {
    display: flex;
    padding-top: 170px;

    @media (max-width: 768px) {
      padding-top: 35px;
    }

    img {
      height: 70px;
      width: auto;

      @media (max-width: 768px) {
        height: 35px;
      }
    }
  }

  &__title {
    padding-top: 105px;

    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }

  &__text {
    font-family: Kinosniki;
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.01em;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  &__info {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 200%;
    opacity: 0.8;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: darken($color: $base, $amount: 15);
      }
    }

    div a {
      pointer-events: all;
    }

    &-phone {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
      }

      .phone-number {
        padding-left: 10px;
      }
    }

    &-address {
      padding-top: 6px;
    }

    &-social {
      padding-top: 6px;
      line-height: 24px;
      letter-spacing: 0.05em;
    }
  }
}

.ball {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: 0.7;
}

@keyframes implode {
  100% {
    transform: scale(0);
  }
}
